.vscode/**
.vscode-test/**
test/**
.github/**
**/node_modules/**
client/src/**
server/**
packages/**
.gitignore
.yarnrc
.prettierrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/*.log
**/package-lock.json
CHANGELOG.md
webpack.config.js
**/*.vsix